

<!-- Header -->
			<header id="header">
				<div class="logo"><a href="#">Caminar <span>by TEMPLATED</span></a></div>
			</header>

		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">

						<div class="image fit flush">
							<img src="images/pic02.jpg" alt="" />
						</div>
						<header class="special">
							<h2>지금 바로 밥 주기</h2>
						</header>
						<!-- 버튼 추가-->						
							<ul class="actions fit" >
								<li><a href="#" class="button special fit" >지금 주기</a></li>
							</ul>
						
					</section>
					
					<section id="two" class="wrapper style2">
						<header>
							<h2>자동 급식 시간 추가</h2>
						</header>
							<ul class="actions fit" >
								<li><a href="./AddSchedule" class="button fit" >추가 </a></li>
							</ul>
					</section>
								<!-- Three -->
					<section id="three" class="wrapper">
							 <% for(var i=0; i<length; i++){ %>
						
						<div class="spotlight">
							<div class="image flush"><img src="images/pic06.jpg" alt="" /></div>
							<div class="inner">
								<h3>
									<%= (i+1) + "번째 급식 시간" %>
								</h3>
								<p>
									<%= "급식 시간 : " + Data[i].time %>
								</p>
								<p>
									<%=  "급식 량 : " + Data[i].amount %>
								</p>
								<div class="6u$ 12u$(medium)">
									<ul class="actions">
										<li><a href="#" class="button special big">수정</a></li>
										<li><a href="#" class="button alt big">삭제</a></li>
									</ul>
								</div>
							</div>

						</div>
							 <% } %>
					</section>

				

				</div>
			</section>



		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>