

<!-- Header -->
			<header id="header">
				<div class="logo"><a href="/">봄이의 밥그릇</a></div>
			</header>

		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">

						<div class="image fit flush" style = "background:white">
							<img src="images/pic02.jpg" alt="" />
						</div>
												
						<header class="special">
							<h2>
								기기 상태								
							</h2>
							<p>
							<% if(Status>0){ %>
								연결됨
							<% } else { %>
								연결 안됨
								<% } %>
								
							</p>
						</header>
						
					</section>
					<!-- two -->
					<section id="two" class="wrapper style2">
						<header>
							<h2>지금 바로 밥 주기</h2>
						</header>
							<ul class="actions fit" >
								
								<% if(Status>0){ %><li><a href="./FeedingNow" class="button special fit " >지금 주기</a></li><% } else { %><li><a href="./FeedingNow" class="button special fit disabled" >지금 주기</a></li><% } %>
								
							</ul>
					</section>
					<!-- Three -->
					<section id="three" class="wrapper style2">
						<header>
							<h2>자동 급식 시간 추가</h2>
						</header>
							<ul class="actions fit" >
								<li><a href="./AddSchedule" class="button fit" >추가 </a></li>
							</ul>
					</section>								
					<!-- Four -->
					<section id="four" class="wrapper style1">
							 <% for(var i=0; i<length; i++){ %>
						
						<div class="spotlight ">
							<div style="padding-left:5rem"><img src="images/Schedule_icon.png" alt="" /></div>
							<div class="inner">
								<h3>
									<%= (i+1) + "번째 급식 시간" %>
								</h3>
								<p>
									<%= "급식 시간 : " + Time[i] %>
								</p>
								<div class="6u$ 12u$(medium)">
									<ul class="actions">
										<li><a href="<%="./EditSchedule?page="+(i) %>" class="button special big">수정</a></li>
										<li><a href="<%="./DeleteSchedule?page=" +(i) %>" class="button alt big">삭제</a></li>
									</ul>
								</div>
							</div>

						</div>
							 <% } %>
					</section>

				

				</div>
			</section>



		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>